/* global properties */
html {
  scroll-behavior: smooth;
}

body {
  background: #1f2235;
  font-family: "Baloo Tamma 2", cursive;
  color: white;
}



/* main heading font */
.m-heading {
  font-family: "Roboto Slab", serif;
}

/* navigation */
.navigation-link {
  border: 2px solid transparent;
}


.navigation-link:hover {
  text-decoration: none;
  border-bottom: 2px solid #f5ba09;
  transition: 0.5s ease;
}

/* main container height*/
.main-container {
  height: 100vh;
}

/* aligning items in main row */
.main_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* changing name font sixe */
.main_row h1 {
  font-size: 30px;
}

/* making the main image the size of the screen */
.main_row img {
  width: 500px;
  height: 370px;
  margin-top: 70px;
}

/* about section */
.about {
  background: #313552;
  border-radius: 0.5rem;
}

.card {
  border-bottom: 8px solid #f5ba09;
}

/* social media section */
#social-media {
  background: #313552;
}

/* add color to social media links */
.media_link {
  padding: 1rem;
  max-width: 15rem;
  margin-left: 1rem;
  border: 2px solid #f5ba09;
  border-radius: 0.5rem;
}

nav.mobilenav {
  display: none;
}

b {
  position: relative;
  -webkit-animation: free-learn 5s infinite;
  animation: free-learn 20s;
}

@-webkit-keyframes free-learn {
  from {
    left: 0px;
  }

  to {
    left: 200px;
  }
}

@keyframes free-learn {
  from {
    left: 0px;
  }

  to {
    left: 200px;
  }
}

/* ellipse 2 */